page-furniture-sign-up {
  
  input {
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

    .text-input::-moz-placeholder {
        color: white;
      }
      
      .text-input:-ms-input-placeholder {
        color: white;
      }
      
      .text-input::-webkit-input-placeholder {
        text-indent: 0;
        color: white;
      }
      
}
